<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<p>Number of posts: {{ posts|length }}</p>
{% for post in posts %}
    <div class="btn btn-success btn-lg">
    Post title: {{ post.title }}
    <br>
    User Name: {{ post.user.username }}
    {% for user in user_data %}
        {% if post.user.id == user.user.id%}
            <img src="{{user.icon.url}}"/>
        {% endif %}
    {% endfor %}
    <br>
        <p>Content: {{ post.content }}</p>
    <br>
    {% for img in images %}
        {% if img.post.id == post.id%}
            <img src="{{img.image_thumbnail.url}}"/>
    {% endif %}
    <br>
    {% endfor %}
    <br>
    <p>Likes: {{ post.likes.count }}</p>
    Tags:
     {% for tag in post.tags.all %}
        {{ tag }}
    {% endfor %}
    </div>
    <br>
{% endfor %}
</body>
</html>