{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
<div>
    <div class="row">
        <div class="col-sm-4">
            <h1>{{ name }}</h1>
            {% if follow %}
            <form action="{% url 'switch_follow' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value="{{view_profile.pk}}">
                <button type="submit" class="btn btn-danger">unfollow</button>
            </form>
            {% else %}
                <form action="{% url 'switch_follow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{view_profile.pk}}">
                    <button type="submit" class="btn btn-success">follow</button>
                </form>
            {% endif %}
        </div>
    <div class="col-sm-8">
     {% for post in posts%}
        <div class="border">
            <div class="p-2">
                <h2 class="mt-2">{{post.title}}</h2>
                <div id="carouselExampleIndicators" class="carousel slide " style="max-width: 500px; justify-content: center; align-items: center;">
                  <div class="carousel-inner">
                {% for img in post.photo_set.all|slice:"0:1" %}
                    {% if img.post.id == post.id%}
                       <div class="carousel-item active">
                           <a href="{{img.image.url}}">
                               <img src="{{img.image_thumbnail.url}}" class="d-block w-100">
                           </a>
                       </div>
                    {% endif %}
                {% endfor %}
                {% for img in post.photo_set.all|slice:"1:" %}
                    {% if img.post.id == post.id%}
                       <div class="carousel-item">
                           <a href="{{img.image.url}}">
                                <img src="{{img.image_thumbnail.url}}" class="d-block w-100">
                           </a>
                       </div>
                    {% endif %}
                {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <p>{{post.content}}</p>
                <p>Createf at {{post.created_at}}</p>
                <p>Likes: {{ post.likes.count }}</p>
                <p>Tags:
                {% for tag in post.tags.all %}
                    {{ tag }}
                {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}