{% extends 'base.html' %}

{% load static %}

{% block title %}
     <title>Profile to follow</title>
{% endblock title %}

{% block content %}
    {{follow}}
    {% for profile in profiles %}
        <div class="container-md text-center">
          <div class="row p-5 rounded border border-secondary-subtle">
            <div class="col">
            </div>
            <div class="col mx-auto">
                <div class="nav">
                    <li class="nav-item pr-3 pb-3">
                        {% if profile.profile.icon %}
                            <img class="rounded-circle" src="{{profile.profile.icon.url}}"/>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <h2>{{profile.username}}</h2>
                    </li>
                </div>
                <div class="div">
                    <a href="{% url 'profile' profile_id=profile.id %}">
                        <button type="button" class="btn btn-primary" >View profile</button>
                    </a>
                </div>
                <form class="followchange" data-id="item_{{ forloop.counter }}" action="{% url 'switch_follow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{profile.profile.pk}}">
                    {% if profile not in my_user.fallowing.all %}
                        <br>
                        <button class="btn btn-success follow-btn" type="submit">Follow</button>
                        <button class="btn btn-secondary unfollow-btn" type="submit" style="display: none;">Unfollow</button>
                    {% else %}
                        <br>
                        <button class="btn btn-secondary unfollow-btn" type="submit">Unfollow</button>
                        <button class="btn btn-success follow-btn" type="submit" style="display: none;">Follow</button>
                    {% endif %}
                </form>
                <div id="error-item_{{ forloop.counter }}" style="min-height:10px"></div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
    {% endfor %}
    <script src="{% static 'following/following.js' %}"></script>
     <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"
        ></script>

        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"
        ></script>
{% endblock content %}